<div {{bind-attr class=":loading-older hasOlderPage::hidden"}}>
  {{partial "loading"}}
</div>

{{#each journalEntry in controller}}
  {{view "journal-entry"}}
{{/each}}

<div {{bind-attr class=":loading-newer loadingOlderPage:hidden"}}>
  {{partial "loading"}}
</div>