<div {{bind-attr class=":loading-older hasOlderPage::hidden"}}>
  {{partial "loading"}}
</div>

{{#each journalEntry in controller}}
  {{render "journal-entry/lines/index" journalEntry.lines}}
{{/each}}

<div {{bind-attr class=":loading-newer loadingOlderPage:hidden"}}>
  {{partial "loading"}}
</div>