<div class="row">
  <div class="col-md-3">
    <div {{bind-attr class=':form-group view.model.errors.account:has-error'}}>
      <div class="scrollable-dropdown-menu">
        <input class="account form-control" type="text" placeholder="Account" {{bind-attr tabindex=view.tabIndex}} />
      </div>
      {{#each error in view.model.errors.account}}
        <span class="help-block">{{error.message}}</span>
      {{/each}}        
    </div>
   </div>

   <div class="col-md-5">
    <div {{bind-attr class=':form-group view.model.errors.description:has-error'}}>
      {{input type="text" value=view.model.description class=view.descriptionClasses placeholder="Description" tabindex=view.descriptionTabindex}}
      {{#each error in view.model.errors.description}}
        <span class="help-block">{{error.message}}</span>
      {{/each}}
    </div>

    <div {{bind-attr class=':form-group view.model.errors.reference:has-error'}}>
      {{input type="text" value=view.model.reference class=view.referenceClasses placeholder="Reference" tabindex=view.referenceTabindex}}
      {{#each error in view.model.errors.reference}}
        <span class="help-block">{{error.message}}</span>
      {{/each}}        
    </div>
  </div>

  <div class="col-md-2">
    <div {{bind-attr class=view.debitClasses}}>
      {{input type="text" value=view.debitAmount class="form-control currency" placeholder="Debit" tabindex=view.tabIndex disabled=view.noAccountSelected}}
      {{#each error in view.model.errors.value}}
        <span class="help-block">{{error.message}}</span>
      {{/each}}  
    </div>

    <p {{bind-attr class=":zero-line-value view.isZeroLine::hidden"}}>&nbsp;</p>

    <div {{bind-attr class=":btn-group :pull-left :actions view.isRemoving:hidden"}}>
      <button type="button" class="btn btn-default btn-xs zeroAction" {{action 'toogleZeroLine' target=view}}>
        {{view.zeroToogleButtonText}}
      </button>
    </div>
  </div>

  <div class="col-md-2">
    <div {{bind-attr class=view.creditClasses}}>
      {{input type="text" value=view.creditAmount class="form-control currency" placeholder="Credit" tabindex=view.tabIndex disabled=view.noAccountSelected}}
    </div>

    <p {{bind-attr class=":zero-line-value view.isZeroLine::hidden"}}>&nbsp;</p>

    <div {{bind-attr class=":btn-group :pull-right :actions view.isRemoving:hidden"}}>
      <button type="button" class="btn btn-default btn-xs removeAction" {{bind-attr disabled=view.isLastLine}} {{action 'removeLine' target=view}}>
        Remove
      </button>
    </div>

    <div {{bind-attr class=":btn-group :pull-right :actions view.isRemoving::hidden"}}>
      <button type="button" class="btn btn-default btn-xs" {{bind-attr disabled='!view.isRemoving'}} {{action 'confirmRemoveLine' target='view'}}>
        <span class="glyphicon glyphicon-ok"></span> I'm sure, remove it
      </button>

      <button type="button" class="btn btn-default btn-xs" {{bind-attr disabled='!view.isRemoving'}} {{action 'cancelRemoveLine' target='view'}}>
        <span class="glyphicon glyphicon-remove"></span> Cancel
      </button>      
    </div>
  </div>
</div>