{{#ifCond createBtn true}}
    <article class="form new" data-type="account" data-book-id="{{book_id}}">
        <div class="model1 transparent clearfix">
            <button class="btn btn3 post action right" data-action="expand" type="button">Create new account</button>
        </div>
        <div class="model2" style="display: none">
        <form action="#">
            <header class="header">
                <strong>New Account</strong>
            </header>
            <section class="body">
                <div class="block1">
                    <label for="description" class="caption">Description</label>
                    <input type="text" id="description" name="description" placeholder="Description" class="input input1 full-width margin-bottom desc">
                    <label for="ref" class="caption">ref</label>
                    <input type="text" id="ref" name="ref" placeholder="Reference" class="input input1 full-width ref">
                </div>

            </section>
            <footer class="footer clearfix">
                <div class="left">
                    <select name="" id="" class="select prettySelect bal" style="display: none;">
                        <option value="">Select normal balance</option>
                        <option value="debit">Debit</option>
                        <option value="credit">Credit</option>
                    </select>
                </div>
                <div class="right">
                    <button class="btn btn3 margin-left action action" data-action="collapse">Cancel</button>
                    <button class="btn btn3 post margin-left action" data-action="create">Create Account</button>
                </div>
            </footer>
        </form>
        </div>
    </article>
{{/ifCond}}

{{#if accounts}}

    {{#each accounts}}
		<article data-id="{{id}}" data-book-id="{{../book_id}}">
			<a href="#" class="hover model1 action" data-action="account" data-id="{{id}}">
				<ul>
					<li class="col1"><strong>{{desc}}</strong></li>
					<li class="col5">{{#ifCond normal_balance "debit"}}dr{{/ifCond}}{{#ifCond normal_balance "credit"}}cr{{/ifCond}} {{balanceamount}}</li>
				</ul>
			</a>
		</article>
    {{/each}}

{{else}}
    No Account!
{{/if}}

