{{#each lines}}
   <tr data-journal-id="{{journal_entry}}" data-line-id="{{id}}">
       <td>{{date}}</td>
       <td><a href="{{reference}}" target="_blank">{{description}}</a></td>
       <td class="number">{{#ifCond value.type "debit"}}<a href="#" class="action" data-action="source">{{formatAmount ../account value}}</a>{{/ifCond}}</td>
       <td class="number">{{#ifCond value.type "credit"}}<a href="#" class="action" data-action="source">{{formatAmount ../account value}}</a>{{/ifCond}}</td>
       <td class="number">{{formatBalance ../account balance.value}}</td>
   </tr>
{{/each}}

