
{{#if lines}}
    <article data-id="{{id}}" data-book-id="{{book_id}}">
        <form action="#" class="model2">
            <header class="header clearfix action" data-action="close">
                <div class="left padding-top-half">
                    <strong>{{desc}}</strong>
                </div>
                <div class="right">

                     <a href="#" class="icon chart action" data-action="chart" data-account-id="{{id}}" data-journal-id="{{journalid}}"><span class="caption">Chart page</span></a>

                </div>
            </header>
            <section class="body">
                <table cellpadding="0" cellspacing="0" border="0" class="account">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th class="number">Debit</th>
                            <th class="number">Credit</th>
                            <th class="number">Balance</th>
                        </tr>
                    </thead>
                    <tbody>

                             <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td class="number total">{{balancetotal.debit_value.amount}}</td>
                                <td class="number total">{{balancetotal.credit_value.amount}}</td>
                                <td class="number total">{{#ifCond balancetotal.value.type "credit"}}cr{{/ifCond}}{{#ifCond balancetotal.value.type "debit"}}dr{{/ifCond}}  {{balancetotal.value.amount}}</td>
                            </tr>
                            {{#each lines}}
                               <tr data-journal-id="{{journal_entry}}" data-line-id="{{id}}">
                                   <td>{{date}}</td>
                                   <td><a href="{{reference}}" target="_blank">{{description}}</a></td>
                                   <td class="number">{{#ifCond value.type "debit"}}<a href="#" class="action" data-action="source">{{amount}}</a>{{/ifCond}}</td>
                                   <td class="number">{{#ifCond value.type "credit"}}<a href="#" class="action" data-action="source">{{amount}}</a>{{/ifCond}}</td>
                                   <td class="number">{{#ifCond ../balancetotal.value.type "credit"}}cr{{/ifCond}}{{#ifCond ../balancetotal.value.type "debit"}}dr{{/ifCond}}  {{balance}}</td>
                               </tr>
                            {{/each}}

                    </tbody>
                    {{#if more}}
                        <tfoot>
                           <tr data-journal-id="{{journal_entry}}">
                                <td colspan="5" class="morelines"><a href="#" class="action" data-action="moreaccountlines">Get More lines</a></td>
                           </tr>
                        </tfoot>
                    {{/if}}

                </table>
            </section>
        </form>
    </article>
{{else}}
    <article data-id="{{id}}" data-book-id="{{book_id}}">
        <a class="model1 action" data-action="close">
            No Activity yet!
        </a>
    </article>
{{/if}}
