{{#ifCond createBtn true}}

{{/ifCond}}

{{#if journalEntries}}
    {{#each journalEntries}}

    <article class="action" data-id="{{id}}" data-action="journal"  data-book-id="{{book_id}}" data-account-id="{{account_id}}" data-timestamp="{{rawdate}}">
        <div class="small model1 hover"  style="display: block;">
            <ul>
               <li class="col1 timeago">{{timeago}}</li>
               <li class="col2">{{desc}}</li>
               <li class="col5">POSTED<!-- {{#ifCond balance.value.type "credit"}}cr {{/ifCond}}{{#ifCond balance.value.type "debit"}}dr {{/ifCond}} {{balance.value.amount}} --></li>
           </ul>
        </div>
    </article>


    {{/each}}
{{ else }}
     {{#ifCond createBtn true}}
           No Journals Entries
     {{/ifCond}}
{{/if}}



