<article class="article" data-book-id="{{bookid}}" data-id="{{id}}" >
    <form action="#" class="model2">
        <header class="header clearfix action" data-action="close">
            <div class="left padding-top-half">
                <strong>{{desc}}</strong>
            </div>
        </header>
        <section class="body source">
            <div class="block1">
                <p>{{date}}</p>
                <div class="flag"></div>
            </div>
            <div class="block6">
                <table cellpadding="0" cellspacing="1" border="0" class="source">
                    <thead>
                        <tr>
                            <td style="width:60%"></td>
                            <th style="width:20%" class="text-right line-right">Debit</th>
                            <th style="width:20%" class="text-right">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lines}}
                            <tr>
                                <td><a href="#" data-book-id="{{../bookid}}" data-account-id="{{account}}" class="action" data-action="accountfromjeline">{{accountdesc}}</a></td>
                                <td class="line-right">{{#ifCond value.type "debit"}}{{value.amount}}{{/ifCond}}</td>
                                <td>{{#ifCond value.type "credit"}}{{value.amount}}{{/ifCond}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="line-right">{{totaldebit}}</td>
                            <td>{{totalcredit}}</td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </section>
    </form>
</article>
