{{#if books}}

  <article class="form new" data-type="journalentry">
      <form action="#" class="model2">
          <header class="header">
              <input type="hidden" id="inputID" class="date">
              <button class="btn btn1 calendar"><span></span></button>
              <button class="btn btn1 clock">
                  <span></span>
                  <input type="text" id="inputID2" class="time" style="display: none">
              </button>
              <select name="" id="" class="select prettySelect book" style="display: none;">
                  <option value="">Choose a book</option>
                  {{#each books}}
                      <option value="{{id}}">{{desc}}</option>
                  {{/each}}
              </select>
          </header>
          <section class="body">
              <div class="block1">
                  <label for="description" class="caption">Description</label>
                  <input type="text" id="description" name="description" placeholder="Description" class="input input1 full-width margin-bottom desc">
                  <label for="ref" class="caption">ref</label>
                  <input type="text" id="ref" name="ref" placeholder="Reference" class="input input1 full-width ref">
              </div>
              <div class="block2">
                  <div class="col col1">Entries</div>
                  <div class="col col2">Debit</div>
                  <div class="col col3">Credit</div>
              </div>
              <div class="block3 entry template">
                  <div class="col col1">
                      <div class="left  margin-top">
                          {{#if accounts}}
                                  <select name="" id="" class="select prettySelect entryAccount" style="display: none;">
                                      <option value="">Choose an account</option>
                                      {{#each accounts}}
                                              <option value="{{id}}">{{desc}}</option>
                                          </article>
                                      {{/each}}
                                     </select>
                          {{else}}
                              No Account!
                          {{/if}}
                      </div>
                      <div class="left">
                          <label for="description" class="caption">Description</label>
                          <input type="text" name="entrydescription" placeholder="Description" class="input input1 margin-bottom entryDesc">
                          <label for="ref" class="caption">ref</label>
                          <input type="text" name="entryref" placeholder="Reference" class="input input1 entryRef">
                      </div>
                  </div>
                  <div class="col col2 margin-top">
                      <label for="debit" class="caption">Debit</label>
                      <input type="text" id="debit" name="debit" placeholder="00.00" class="input input1 entryDebit">
                  </div>
                  <div class="col col3 margin-top">
                      <label for="credit" class="caption">Credit</label>
                      <input type="text" id="credit" name="credit" placeholder="00.00" class="input input1 entryCredit">
                  </div>
              </div>
              <div class="block4">
                  <div class="col col1 text-align-right">Total</div>
                  <div class="col col2">00.00</div>
                  <div class="col col3">00.00</div>

              </div>
              <div class="block5"><span class="padding-right">Add a new line</span>
                  <button class="btn btn4">
                      <span class="caption">. Click here to add a new line.</span><span class="icon plus addentry">+</span>
                  </button>
              </div>
          </section>
          <footer class="footer">
                <div class="left">
                    <button class="btn btn3 trash action" data-action="delete">Archive</button>
                </div>
                <div class="middle">

                    <button class="btn btn3 post margin-right submit" data-action="send" type="button">
                        <span class="action">Post</span>
                        <span class="confirmation">
                            <span class="question">Are you sure?</span>
                            <span class="answer yes">Yes</span>
                            <span class="answer no">No</span>
                        </span>
                    </button>
                </div>
                <div class="right">
                    <button class="btn btn3 margin-right action" data-action="close">Cancel</button>
                    <button class="btn btn3 savenew">Save &amp; New</button>
                </div>
          </footer>
      </form>
  </article>

{{else}}
     No Books Yet!
{{/if}}



