{{#if reports}}
  {{#each reports}}
    <div class="openJournal">
      <article class="report" data-id="{{id}}" data-book-id="{{../book_id}}">
        <div class="model3">
          <header class="header clearfix action" data-action="close">
            <strong>{{description}}</strong>
          </header>

          <section class="body source">
            <div class="block1">
              <div>
                <input class="datetimepicker" data-handler=".renderReportAt[data-id='{{id}}']"></input>
                <div class="btn-group">
                  <button type="button" class="btn white renderReportAt" data-id="{{id}}" style="display: none;">Time - Date</button>
  	              <button type="button" class="btn btn-success green" data-action="renderReport" data-id="{{id}}">GO!</button>
                </div>
              </div>
              <div class="progressContainer">
                <div class="progress" style="display: none;">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    <span class="sr-only"></span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </article>
    </div>
  {{/each}}
{{else}}
  No Reports
{{/if}}
