<table>
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="description">Description</th>
      <th class="debit">Debit</th>
      <th class="credit">Credit</th>
      <th class="balance">Balance</th>
      <th class="reference">Ref</th>
      <th class="je">JE</th>
    </tr>
  </thead>
</table>

<div {{bind-attr class=view.contentClasses}}>
  <table>
    <tbody>
      <tr {{bind-attr class=":loading-older hasOlderPage::hidden"}}>
        <td colspan="7">
          {{partial "loading"}}
        </td>
      </tr>
      
      {{#each line in controller}}
        {{view 'account/lines/line'}}
      {{/each}}

      <tr {{bind-attr class=":loading-newer loadingOlderPage:hidden"}}>
        <td colspan="7">
          {{partial "loading"}}
        </td>
      </tr>
    </tbody>
  </table>
</div>