<td class="date">
  {{sl-relative-date date=effectiveAt dismissOnScroll=".infinite-scroll"}}
</td>
<td class="description">{{description}}</td>
<td class="debit">{{format-value value 'debit'}}</td>
<td class="credit">{{format-value value 'credit'}}</td>
<td class="balance">{{format-balance balance normalBalance}}</td>
<td class="reference">
  {{#if reference}}
    <a {{bind-attr href=reference}} target="_blank">
      <img src="assets/icon-reference.png"></img>
    </a>
  {{/if}}
</td>
<td class="je">
  {{#link-to "journal-entry.lines" journalEntry}}
    <img src="assets/icon-journal-entry.png"></img>
  {{/link-to}}
</td>