{{#if collapsed}}
  {{format-date journalEntry.effectiveAt 'full'}}

{{else}}
  <div class="row">
    <div class="col-xs-3 col-md-2">
      <span class="time-ago">{{view.timeAgoFromNow}}</span>
    </div>
    <div class="col-xs-6 col-md-9">
      {{journalEntry.description}}
    </div>
    <div class="col-xs-3 col-md-1 text-right">
      {{journalEntry.state}}
    </div>
  </div>
{{/if}}