{{partial 'app-menu'}}

<div class="app-body">
  <div class="app-all-content">
    <div {{bind-attr class="credential.authenticated:app-main-nav:hidden"}}>
      <ul>
        <li>
          {{view Ember.Select content=credential.books optionValuePath="content.id" optionLabelPath="content.description" value=credential.selectedBook class="form-control"}}
        </li>

        {{#link-to 'journal-entries.index' tagName="li" class="nav-link"}}
          <span class="glyphicon sl-refresh"></span> Activity Stream
          <img src="assets/arrow.png" class="right" />
        {{/link-to}}

        {{#link-to 'accounts.index' tagName="li" class="nav-link"}}
          <span class="glyphicon sl-entry"></span> Accounts
          <img src="assets/arrow.png" class="right" />
        {{/link-to}}        

        {{#link-to 'reports' tagName="li" class="nav-link"}}
          <span class="glyphicon sl-entries"></span> Reports
          <img src="assets/arrow.png" class="right" />
        {{/link-to}}

        {{#link-to 'journal-entries.new' tagName="li" class="nav-link"}}
          <span class="glyphicon glyphicon-edit"></span> Create Journal Entry
          <img src="assets/arrow.png" class="right" />
        {{/link-to}}
      </ul>
    </div>

    <div {{bind-attr class="credential.authenticated:app-main-content"}}>
      {{outlet}}
    </div>
  </div>
</div>

{{partial 'app-footer'}}