{{#if expanded}}
  <div {{bind-attr class=":panel-heading view.isCollapsive:clickable"}}>
    <div class="row">
      <div class="col-xs-9 col-md-11">
        {{description}}
      </div>
      <div class="col-xs-3 col-md-1 text-right">
        {{state}}
      </div>
    </div>
  </div>

  <div class="panel-body">
    {{format-date effectiveAt 'full'}}
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Credit</th>
        <th class="text-center">Reference</th>
      </tr>
    </thead>
      <tbody>
        {{#each line in lines}}
          <tr>
            <td>
              {{#link-to 'lines.index' line.account.id}}
                {{line.account.description}}
              {{/link-to}}
            </td>
            <td>{{line.description}}</td>
            <td>{{format-value line.value 'debit'}}</td>
            <td>{{format-value line.value 'credit'}}</td>
            <td class="text-center">
              {{#if line.reference}}
                <a {{bind-attr href=line.reference}} target="_blank">
                  <img src="assets/icon-reference.png"></img>
                </a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        {{#if loadingLines}}
          <tr>
            <td colspan="5">
              {{partial "loading"}}
            </td>
          </tr>
        {{/if}}
      </tobdy>
      <tfoot>
        <tr>
          <th colspan="2" class="text-right">Total</th>
          <th>{{format-amount totalDebit.amount}}</th>
          <th>{{format-amount totalCredit.amount}}</th>
          <th>&nbsp;</th>
        </tr>
      </tfoot>
  </table>
{{else}}
  <div class="panel-body panel-body-white clickable">
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <span class="time-ago">{{view.timeAgo}}</span>
      </div>
      <div class="col-xs-6 col-md-9">
        {{description}}
      </div>
      <div class="col-xs-3 col-md-1 text-right">
        {{state}}
      </div>
    </div>
  </div>
{{/if}}