<div class="row login">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        <form role="form" {{action "login" on="submit"}}>
          <div {{bind-attr class=":form-group error:has-error"}}>
            {{input value=key type="text" class="form-control" placeholder="key_id" autofocus="autofocus"}}
          </div>

          <div  {{bind-attr class=":form-group error:has-error"}}>
            {{input value=secret type="text" class="form-control" placeholder="secret"}}
          </div>

          <div {{bind-attr class=":form-group error:has-error"}}>
            {{input value=org type="text" class="form-control" placeholder="org"}}
          </div>

          <div class="row decimal-places">
            <div class="col-xs-4">
              Decimal Places: {{decimalPlaces}}
            </div>

            <div class="col-xs-8">
              <div>
                {{input value=decimalPlaces type="text"}}
              </div>
            </div>
          </div>

          {{input type="submit" class="btn btn-primary btn-block" value="Login"}}
        </form>
      </div>  
    </div>

    <p class="example">Just want to see it working? <a href="#" {{action 'lemonade'}}>Use our demo application credentials!</a></p>

    {{#if localCredentials}}
      <br/>
      <p>Creds History:</p>
      <ul>
        {{#each localCredential in localCredentials}}
        <li>
          <a href="#" {{action 'useCredential' localCredential}}>{{localCredential.desc}}</a> - Last Used {{format-date localCredential.lastUsed}} (<a href="#" {{action 'removeCredential' localCredential target="view"}}>remove</a>)
        </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>