<form role="form" {{action "login" on="submit"}}>
  <div class="form-group">
    {{input value=key type="text" class="form-control" placeholder="key_id"}}
  </div>
  <div class="form-group">
    {{input value=secret type="text" class="form-control" placeholder="secret"}}
  </div>
  <div class="form-group">
    {{input value=org type="text" class="form-control" placeholder="org"}}
  </div>

  {{input type="submit" class="btn btn-default" value="Save"}}
</form>