<div class="row login">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" {{action "login" on="submit"}}>
          <div class="form-group">
            {{input value=model.key type="text" class="form-control" placeholder="key_id" autofocus="autofocus"}}
          </div>
          <div class="form-group">
            {{input value=secret type="text" class="form-control" placeholder="secret"}}
          </div>
          <div class="form-group">
            {{input value=org type="text" class="form-control" placeholder="org"}}
          </div>

          {{input type="submit" class="btn btn-primary btn-block" value="Login"}}
        </form>
      </div>  
    </div>
  </div>
</div>