<div class="category-info">
  <span class="glyphicon glyphicon-collapse-up"></span> 
  <span class="description">{{description}} ({{accounts.length}})</span>
  <span class="balance pull-right">{{format-balance balance normal_balance}}</span>  
</div>

<div class="accounts">
  {{#if accounts}}
    <table class="table table-striped">
      <tbody>
        {{#each account in accounts}}
          <tr>
            <td class="account-description">{{account.description}}</td>
            <td class="account-balance">{{format-balance account.balance account.normal_balance}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No accounts attached to this category</p>
  {{/if}}
</div>

{{#if categories}}
  <ul>
    {{#each subCategory in categories}}
      <li class="report-rendering-category">{{render "report-rendering-category" subCategory}}</li>
    {{/each}}
  </ul>
{{/if}}