<div class="category-info">
  <span class="glyphicon glyphicon-collapse-up"></span> 
  <span class="description">{{description}}</span>
  <span class="balance pull-right">{{format-balance balance normalBalance}}</span>
</div>

<div class="accounts">
  {{#if accounts}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="account-description">Description</th>
          <th class="account-balance">Balance</th>
        </tr>
      </thead>
      <tbody>
        {{#each account in accounts}}
          <tr>
            <td>{{account.description}}</td>
            <td>{{format-balance account.balance account.normalBalance}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No accounts attached to this category yet</p>
  {{/if}}
</div>

{{#if categories}}
  <ul>
    {{#each subCategory in categories}}
      <li class="report-rendering-category">{{render "report-rendering-category" subCategory}}</li>
    {{/each}}
  </ul>
{{/if}}